{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<style>
  .masthead__inner-wrap {
    padding-left: 0 !important;
  }

  .masthead__menu-item--lg {
    margin-left: 0.9rem !important;
  }

  .site-nav-static {
    width: 100%;
  }

  .site-nav-static .masthead__menu-item--lg a {
    margin-left: 0 !important;
    padding-left: 1.6rem !important;
  }

  .site-nav-static .visible-links {
    display: flex !important;
    align-items: center;
    width: 100%;
  }

  .site-nav-static .visible-links > li {
    display: flex !important;
    align-items: center;
    visibility: visible !important;
  }

  .site-nav-static .visible-links .masthead__menu-item--lg {
    margin-right: auto !important;
  }

  .site-nav-static .visible-links .masthead__menu-item:not(.masthead__menu-item--lg) {
    display: flex !important;
    align-items: center;
    margin-left: 1.35rem;
  }

  .site-nav-static .visible-links .masthead__menu-item:nth-child(2) {
    margin-left: auto !important;
  }

  .sidebar {
    padding-left: 0.65rem;
  }

  @media screen and (min-width: 1024px) {
    .masthead__inner-wrap {
      max-width: none !important;
      padding-left: 5rem !important;
    }

    .masthead__menu-item--lg {
      margin-left: 0 !important;
    }

    .sidebar {
      left: 1rem !important;
      text-align: center;
    }

    .sidebar .author__avatar img {
      margin-right: auto;
      margin-left: auto;
    }

    .sidebar .author__content {
      text-align: center;
    }

    .sidebar .author__urls {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      text-align: left;
    }
  }

  @media screen and (max-width: 1023px) {
    .sidebar > div[itemscope] {
      display: flex;
      align-items: center;
      gap: 0.85rem;
    }

    .sidebar .author__avatar,
    .sidebar .author__content,
    .sidebar .author__urls-wrapper {
      display: block;
      padding: 0;
      vertical-align: middle;
    }
  }
</style>

<!-- end custom head snippets -->
